<!DOCTYPE HTML>
<html lang="hu">
<head>
    <title>Tudástár Quiz</title>
    <meta charset="utf-8">
    <meta name="description" content="Quiz learning page for students.">
    <meta name="keywords" content="learning">
    <meta name="author" content="Team PTI Jászberény">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/root.css">
    <link rel="stylesheet" href="../static/css/tags.css">
    <link rel="stylesheet" href="../static/css/classes.css">
    <script type="text/javascript" src="../static/js/login.js" charset="utf-8" defer ></script>
    <link rel="icon" href="../static/img/icon.jpg">
</head>
<body>
<!--HEADER-->
    <header>
        <h1>Tudástár Quiz</h1>
    <nav>
        <p class="menu-title">Menü</p>
        <p class="menu-selected">Bejelentkezés</p>
        <a class="menu" href="registration.html">Regisztráció</a>
    </nav>
    </header>
<!--MAIN-->
    <main>
        <div class="form-container">
            <form action="???" onsubmit="return loginValidation()" method="post" autocomplete="off">
                <div class="flex-form-container">
                    <div class="flex-form-item">
                        <label for="username">Felhasználói név:</label>
                    </div>
                    <div class="flex-form-item">
                        <input type="text" id="username" name="username" tabindex="1">
                        <p class="form-error-message" id="username_error"></p>
                    </div>
                    <div class="flex-form-item">
                        <label for="password">Jelszó:</label>
                    </div>
                    <div class="flex-form-item">
                        <input type="password" id="password" name="password" tabindex="2">
                        <p class="form-error-message" id="password_error"></p>
                    </div>
                    <div class="flex-form-item">
                        <input type="submit" name="login-submit" value="Bejelentkezés" tabindex="3">
                    </div>
                </div>    
            </form>
        </div>     
    </main>
<!--FOOTER-->
    <footer>
        <p><a href="#top">Lap tetejére <img src="../static/img/icon_arrowup.png" alt="fel"></a></p>
        <p>Eszterházy Károly Katolikus Egyetem<br></p>
        <p>PTI Jászberény Team 2023</p>
    </footer>
</body>
</html>