<!DOCTYPE HTML>
<html lang="hu">
<head>
    <title>Tudástár Quiz</title>
    <meta charset="utf-8">
    <meta name="description" content="Quiz learning page for students.">
    <meta name="keywords" content="learning">
    <meta name="author" content="Team PTI Jászberény">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    {% if usrname == "" %} <script>window.location.href = '/api/index';</script> {% endif %}
    <link rel="stylesheet" href="{% static 'css/classes.css' %}">
    <link rel="stylesheet" href="{% static 'css/root.css' %}">
    <link rel="stylesheet" href="{% static 'css/tags.css' %}">
    <link rel="icon" href="{% static 'img/icon.jpg' %}">
    <script type="text/javascript" src="{% static 'js/menu.js' %}" charset="utf-8" defer ></script>

</head>
<body>
    <header>
        <h1>Tudástár Quiz</h1>
    <nav>
        <p class="menu-title">Menü</p>
        <a class="menu-selected">Főoldal</a>
        <a class="menu" href="/api/quiz">Kvízek</a>
        <a class="menu" href="/api/profile">Profil</a>
        <a class= "menu" id="users" href="/api/users">Felhasználók</a>
        <a class="menu" href="/api/index">Kijelentkezés</a>
    </nav>
    </header>
    <main>
            <h2>Az oldalról</h2>
            <p>Köszöntöm kedves felhasználó weboldalunkon. Célunk az egy olyan szolgáltatás, amelyen keresztül tesztek, 
                quizek, illetve kérdések állíthatók össze bármilyen témában. Az elkészített teszteket és quizeket a 
                felhasználók egymás között meg tudják osztani gyakorlás, játék vagy akár vizsgáztatás céljából.
            </p>
            <hr>
            <h2>Az oldal használata</h2>
            <p>A regisztrációt vagy bejelentkezést követően, szerepkörétől függően tudja használni a weboldalt. 
                Amennyiben diák, ki tudja választani a quizeket, amelyeket aztán kitölthet illetve saját adatait láthatja, 
                jelszívát módosíthatja. Amennyiben tanár, quizeket tud összeállítani, illetve saját adatait láthatja, 
                jelszívát módosíthatja.
            </p>
    </main>
    <footer>
        <p><a href="#top">Lap tetejére <img src="{% static 'img/icon_arrowup.png' %}" alt="fel"></a></p>
        <p>Eszterházy Károly Katolikus Egyetem<br></p>
        <p>PTI Jászberény Team 2023</p>
        <p>Bejelentkezve, mint {{ usrname }}</p>
    </footer>
</body>
</html>