<!DOCTYPE HTML>
<html lang="hu">
<head>
    <title>Tudástár Quiz</title>
    <meta charset="utf-8">
    <meta name="description" content="Quiz learning page for students.">
    <meta name="keywords" content="learning">
    <meta name="author" content="Team PTI Jászberény">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/root.css">
    <link rel="stylesheet" href="css/tags.css">
    <link rel="stylesheet" href="css/classes.css"> 
    <link rel="icon" href="img/icon.jpg">
    <script type="text/javascript" src="js/menu.js" charset="utf-8" defer ></script>

</head>
<body>
    <header>
        <h1>Tudástár Quiz</h1>
    <nav>
        <p class="menu-title">Menü</p>
        <a class="menu-selected">Főoldal</a>
        <a class="menu" href="quiz.html">Kvízek</a>
        <a class="menu" href="profile.html">Profil</a>
        <a class= "menu" id="users" href="users.html">Felhasználók</a>
        <a class="menu" href="index.html">Kijelentkezés</a>
    </nav>
    </header>
    <main>
            <h2>Az oldalról</h2>
            <p>Köszöntöm kedves felhasználó weboldalunkon. Célunk az egy olyan szolgáltatás, amelyen keresztül tesztek, 
                quizek, illetve kérdések állíthatók össze bármilyen témában. Az elkészített teszteket és quizeket a 
                felhasználók egymás között meg tudják osztani gyakorlás, játék vagy akár vizsgáztatás céljából.
            </p>
            <hr>
            <h2>Az oldal használata</h2>
            <p>A regisztrációt vagy bejelentkezést követően, szerepkörétől függően tudja használni a weboldalt. 
                Amennyiben diák, ki tudja választani a quizeket, amelyeket aztán kitölthet illetve saját adatait láthatja, 
                jelszívát módosíthatja. Amennyiben tanár, quizeket tud összeállítani, illetve saját adatait láthatja, 
                jelszívát módosíthatja.
            </p>
    </main>
    <footer>
        <p><a href="#top">Lap tetejére <img src="img/icon_arrowup.png" alt="fel"></a></p>
        <p>Eszterházy Károly Katolikus Egyetem<br></p>
        <p>PTI Jászberény Team 2023</p>
    </footer>
</body>
</html>