<!DOCTYPE HTML>
<html lang="hu">
<head>
    <title>Tudástár Quiz</title>
    <meta charset="utf-8">
    <meta name="description" content="Quiz learning page for students.">
    <meta name="keywords" content="learning">
    <meta name="author" content="Team PTI Jászberény">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/root.css">
    <link rel="stylesheet" href="css/tags.css">
    <link rel="stylesheet" href="css/classes.css"> 
    <link rel="icon" href="img/icon.jpg">
    <script type="text/javascript" src="js/menu.js" charset="utf-8" defer ></script>
    <script type="text/javascript" src="js/profile.js" charset="utf-8" defer ></script>

</head>
<body>
    <header>
        <h1>Tudástár Quiz</h1>
    <nav>
        <p class="menu-title">Menü</p>
        <a class="menu" href="menu.html">Főoldal</a>
        <a class="menu" href="quiz.html">Kvízek</a>
        <a class="menu-selected">Profil</a>
        <a class= "menu" id="users" href="users.html">Felhasználók</a>
        <a class="menu" href="index.html">Kijelentkezés</a>
    </nav>
    </header>
    <main>
        <div class="form-container">
                <div class="flex-form-container">
                    <div class="flex-form-item">
                        <label for="fullname">Teljes név:</label>
                    </div>
                    <div class="flex-form-item">

                    </div>
                    <div class="flex-form-item">
                        <label>Felhasználói név:</label>
                    </div>
                    <div class="flex-form-item">
                        
                    </div>
                    <div class="flex-form-item">
                        <label>E-mail cím:</label>
                    </div>
                    <div class="flex-form-item">
                        
                    </div>
                    <div class="flex-form-item">
                        <label>Jelszó:</label>
                    </div>
                    <div class="flex-form-item">
                        
                    </div>
                    <div class="flex-form-item">
                        <label>Születési dátum:</label>
                    </div>
                    <div class="flex-form-item">
                        
                    </div>
                    <div class="flex-form-item">
                        <label>Jogosultság:</label>
                    </div>
                    <div class="flex-form-item">
                        <label id="role"></label>
                    </div>
                </div>
            </form>
        </div>   
    </main>
    <footer>
        <p><a href="#top">Lap tetejére <img src="img/icon_arrowup.png" alt="fel"></a></p>
        <p>Eszterházy Károly Katolikus Egyetem<br></p>
        <p>PTI Jászberény Team 2023</p>
    </footer>
</body>
</html>