<!DOCTYPE HTML>
<html lang="hu">
<head>
    <title>Tudástár Quiz</title>
    <meta charset="utf-8">
    <meta name="description" content="Quiz learning page for students.">
    <meta name="keywords" content="learning">
    <meta name="author" content="Team PTI Jászberény">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/classes.css' %}">
    <link rel="stylesheet" href="{% static 'css/root.css' %}">
    <link rel="stylesheet" href="{% static 'css/tags.css' %}">
    <link rel="icon" href="{% static 'img/icon.jpg' %}">

</head>
<body>
    <header>
        <h1>Tudástár Quiz</h1>
    <nav>
        <p class="menu-title">Menü</p>
        <a class="menu" href="/api/menu">Főoldal</a>
        <a class="menu-selected">Kvízek</a>
        <a class="menu" href="/api/profile">Profil</a>
        <a class= "menu" href="/api/users">Felhasználók</a>
        <a class="menu" href="/api/index">Kijelentkezés</a>
    </nav>
    </header>
    <main>
        <div class="form-container">
            <form id="qgenerate-form" autocomplete="off">
                <div class="flex-form-container">
                    <div class="flex-form-item">
                        <label for="qname">Kvíz neve:</label>
                    </div>
                    <div class="flex-form-item">
                        <input type="text" id="qname" name="qname" tabindex="1">
                        <p class="form-error-message" id="qname_error"></p>
                    </div>
                    <div class="flex-form-item">
                        <label for="active">Állapot:</label>
                    </div>
                    <div class="flex-form-item">
                        <select id="active" name="active" tabindex="2">
                            <option value="true">Aktív</option>
                            <option value="false">Inaktív</option>
                        </select>
                    </div>
                    <div class="flex-form-item">
                        <label for="creator">Készítő neve:</label>
                    </div>
                    <div class="flex-form-item">
                        <input type="text" id="creator" name="creator" tabindex="3">
                        <p class="form-error-message" id="createbyid_error"></p>
                    </div>
                    <div class="flex-form-item">
                        <input type="submit" name="submit" value="Kvíz létrehozása" tabindex="4">
                    </div>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <p><a href="#top">Lap tetejére <img src="{% static 'img/icon_arrowup.png' %}" alt="fel"></a></p>
        <p>Eszterházy Károly Katolikus Egyetem<br></p>
        <p>PTI Jászberény Team 2023</p>
    </footer>
</body>
</html>