<!DOCTYPE HTML>
<html lang="hu">
<head>
    <title>Tudástár Quiz</title>
    <meta charset="utf-8">
    <meta name="description" content="Quiz learning page for students.">
    <meta name="keywords" content="learning">
    <meta name="author" content="Team PTI Jászberény">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/root.css">
    <link rel="stylesheet" href="css/tags.css">
    <link rel="stylesheet" href="css/classes.css"> 
    <link rel="icon" href="img/icon.jpg">
</head>
<body>
    <header>
        <h1>Tudástár Quiz</h1>
    <nav>
        <p class="menu-title">Menü</p>
        <a class="menu" href="login.html">Bejelentkezés</a>
        <p class="menu-selected">Regisztráció</p>
    </nav>
    </header>
    <main>
        <div class="form-container">
            <div class="flex-form-container">
                <div class="flex-form-item">
                    <label for="fullname">Teljes név:</label>
                </div>
                <div class="flex-form-item">
                    <label for="username">Felhasználói név:</label>
                </div>
                <div class="flex-form-item">
                    <label for="email">E-mail cím:</label>
                </div>
                <div class="flex-form-item">
                    <label for="password">Jelszó:</label>
                </div>
                <div class="flex-form-item">
                    <label for="password">Jelszó ismétlés:</label>
                </div>
                <div class="flex-form-item">
                    <label for="dateOfBirth">Születési dátum:</label>
                </div>
                <div class="flex-form-item">
                    <input type="submit" name="register-submit" value="Regisztráció" tabindex="7">
                </div>
            </div>
        </div>   
    </main>
    <footer>
        <p><a href="#top">Lap tetejére <img src="img/icon_arrowup.png" alt="fel"></a></p>
        <p>Eszterházy Károly Katolikus Egyetem<br></p>
        <p>PTI Jászberény Team 2023</p>
    </footer>
</body>
</html>