<!DOCTYPE HTML>
<html lang="hu">
<head>
    <title>Tudástár Quiz</title>
    <meta charset="utf-8">
    <meta name="description" content="Quiz learning page for students.">
    <meta name="keywords" content="learning">
    <meta name="author" content="Team PTI Jászberény">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/classes.css' %}">
    <link rel="stylesheet" href="{% static 'css/root.css' %}">
    <link rel="stylesheet" href="{% static 'css/tags.css' %}">
    <link rel="icon" href="{% static 'img/icon.jpg' %}">
    <script type="text/javascript" src="{% static 'js/unew.js' %}" charset="utf-8" defer ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>
    <header>
        <h1>Tudástár Quiz</h1>
    <nav>
        <p class="menu-title">Menü</p>
        <a class="menu" href="/api/menu">Főoldal</a>
        <a class="menu" href="/api/quiz">Kvízek</a>
        <a class="menu" href="/api/profile">Profil</a>
        <a class= "menu-selected" id="users">Felhasználók</a>
        <a class="menu" href="/api/index">Kijelentkezés</a>
    </nav>
    </header>
    <main>
        <div class="form-container">
            <form id="createUser-form" autocomplete="off">
                <div class="flex-form-container">
                    <div class="flex-form-item">
                        <label for="requester">Kérvényező neve:</label>
                    </div>
                    <div class="flex-form-item">
                        <input type="text" id="requester" name="fullname" tabindex="1">
                        <p class="form-error-message" id="requester_error"></p>
                    </div>
                    <div class="flex-form-item">
                        <label for="fullname">Teljes név:</label>
                    </div>
                    <div class="flex-form-item">
                        <input type="text" id="fullname" name="fullname" tabindex="2">
                        <p class="form-error-message" id="fullname_error"></p>
                    </div>
                    <div class="flex-form-item">
                        <label for="username">Felhasználói név:</label>
                    </div>
                    <div class="flex-form-item">
                        <input type="text" id="username" name="username" tabindex="3">
                        <p class="form-error-message" id="username_error"></p>
                    </div>
                    <div class="flex-form-item">
                        <label for="email">E-mail cím:</label>
                    </div>
                    <div class="flex-form-item">
                        <input type="email" id="email" name="email" tabindex="4">
                        <p class="form-error-message" id="email_error"></p>
                    </div>
                    <div class="flex-form-item">
                        <label for="password">Jelszó:</label>
                    </div>
                    <div class="flex-form-item">
                        <input type="password" id="password" name="password" tabindex="5">
                        <p class="form-error-message" id="password_error"></p>
                    </div>
                    <div class="flex-form-item">
                        <label for="dateOfBirth">Születési dátum:</label>
                    </div>
                    <div class="flex-form-item">
                        <input type="date" id="dateOfBirth" name="dateOfBirth" tabindex="7">
                        <p class="form-error-message" id="dateOfBirth_error"></p>
                    </div>
                    <div class="flex-form-item">
                        <label for="role">Jogosultság:</label>
                    </div>
                    <div class="flex-form-item">
                        <select id="role" name="role" tabindex="8">
                            <option value=1>Diák</option>
                            <option value=2>Tanár</option>
                            <option value=3>Adminisztrátor</option>
                        </select>
                        <p class="form-error-message" id="role_error"></p>
                    </div>
                    <div class="flex-form-item">
                        <input type="submit" name="submit" value="Felhasználó felvétele" tabindex="9">
                    </div>
                </div>
            </form>
        </div>   
    </main>
    <footer>
        <p><a href="#top">Lap tetejére <img src="{% static 'img/icon_arrowup.png' %}" alt="fel"></a></p>
        <p>Eszterházy Károly Katolikus Egyetem<br></p>
        <p>PTI Jászberény Team 2023</p>
    </footer>
</body>
</html>