<!DOCTYPE HTML>
<html lang="hu">
<head>
    <title>Tudástár Quiz</title>
    <meta charset="utf-8">
    <meta name="description" content="Quiz learning page for students.">
    <meta name="keywords" content="learning">
    <meta name="author" content="Team PTI Jászberény">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    {% if usrname == "" %} <script>window.location.href = '/api/index';</script> {% endif %}
    {% if roles_id != 3 %} <script>window.location.href = '/api/menu';</script> {% endif %}
    <link rel="stylesheet" href="{% static 'css/classes.css' %}">
    <link rel="stylesheet" href="{% static 'css/root.css' %}">
    <link rel="stylesheet" href="{% static 'css/tags.css' %}">
    <link rel="icon" href="{% static 'img/icon.jpg' %}">
    <script type="text/javascript" src="{% static 'js/upassword.js' %}" charset="utf-8" defer ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <header>
        <h1>Tudástár Quiz</h1>
    <nav>
        <p class="menu-title">Menü</p>
        <a class="menu" href="/api/menu">Főoldal</a>
        <a class="menu" href="/api/quiz">Kvízek</a>
        <a class="menu" href="/api/profile">Profil</a>
        <a class= "menu-selected" id="users" href="/api/users">Felhasználók</a>
        <a class="menu" href="/api/index">Kijelentkezés</a>
    </nav>
    </header>
    <main>
        <div class="form-container">
            <form id="modifyUserPassword-form" autocomplete="off">
                <div class="flex-form-container">
                    <div class="flex-form-item">
                        <label for="requester">Kérvényező neve:</label>
                    </div>
                    <div class="flex-form-item">
                        <input type="text" id="requester" name="requester" tabindex="1" readonly value= {{ usrname }}>
                        <p class="form-error-message" id="requester_error"></p>
                    </div>
                    <div class="flex-form-item">
                        <label for="username">Felhasználói név:</label>
                    </div>
                    <div class="flex-form-item">
                        <input type="text" id="username" name="username" tabindex="2">
                        <p class="form-error-message" id="username_error"></p>
                    </div>
                    <div class="flex-form-item">
                        <label for="password">Jelszó:</label>
                    </div>
                    <div class="flex-form-item">
                        <input type="password" id="password" name="password" tabindex="3">
                        <p class="form-error-message" id="password_error"></p>
                    </div>
                    <div class="flex-form-item">
                        <label for="confirm-password">Jelszó ismétlés:</label>
                    </div>
                    <div class="flex-form-item">
                        <input type="password" id="confirm-password" name="confirm-password" tabindex="4">
                        <p class="form-error-message" id="confirm-password_error"></p>
                    </div>
                    <div class="flex-form-item">
                        <input type="submit" name="submit" value="Jelszó módosítása" tabindex="5">
                        <p class="form-message" id="success"></p>
                        <p class="form-error-message" id="error"></p>
                    </div>
                </div>
            </form>
        </div>  
    </main>
    <footer>
        <p><a href="#top">Lap tetejére <img src="{% static 'img/icon_arrowup.png' %}" alt="fel"></a></p>
        <p>Eszterházy Károly Katolikus Egyetem<br></p>
        <p>PTI Jászberény Team 2023</p>
        <p>Bejelentkezve, mint {{ usrname }}</p>
    </footer>
</body>
</html>