<!DOCTYPE HTML>
<html lang="hu">
<head>
    <title>Tudástár Quiz</title>
    <meta charset="utf-8">
    <meta name="description" content="Quiz learning page for students.">
    <meta name="keywords" content="learning">
    <meta name="author" content="Team PTI Jászberény">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/root.css">
    <link rel="stylesheet" href="css/tags.css">
    <link rel="stylesheet" href="css/classes.css"> 
    <link rel="icon" href="img/icon.jpg">
    <script type="text/javascript" src="js/menu.js" charset="utf-8" defer ></script>
    <script type="text/javascript" src="js/users.js" charset="utf-8" defer ></script>

</head>
<body>
    <header>
        <h1>Tudástár Quiz</h1>
    <nav>
        <p class="menu-title">Menü</p>
        <a class="menu" href="menu.html">Főoldal</a>
        <a class="menu" href="quiz.html">Kvízek</a>
        <a class="menu" href="profile.html">Profil</a>
        <a class= "menu-selected" id="users">Felhasználók</a>
        <a class="menu" href="index.html">Kijelentkezés</a>
    </nav>
    <nav>
        <a class="menu" id="uinvite" href="/afp2/afp2/Templates/users/uinvite.html">Kvíz meghívó</a>
        <a class="menu" id="unew" href="/afp2/afp2/Templates/users/unew.html">Új felhasználó</a>
        <a class= "menu" id="urole" href="/afp2/afp2/Templates/users/urole.html">Szerepkör módosítás</a>
        <a class= "menu" id="upassword" href="/afp2/afp2/Templates/users/upassword.html">Jelszó helyreállítás</a>
    </nav>
    </header>
    <main>
        <h2>Felhasználók</h2>
        <p>Ebben a szekcióban az oldal felhasználóit/felhasználóinak adatait lehet kezelni. Minden interakció ezen a felületen csakis kizárólag adminisztrátoroknak és tanároknak elérhető.</p>
    </main>
    <footer>
        <p><a href="#top">Lap tetejére <img src="img/icon_arrowup.png" alt="fel"></a></p>
        <p>Eszterházy Károly Katolikus Egyetem<br></p>
        <p>PTI Jászberény Team 2023</p>
    </footer>
</body>
</html>